<div class="card" style="padding:10px;mac-width:200px;margin-top:1em"> 
<h3 class="text-uppercase"><%= article.title %>
<p class="text-secondary"><%= article.created_at %> </p>
<%= link_to "Ver más", article %>
</div>